header{
    border: solid black 2px;
    height: 200px;
    width: 100%;
}

nav{
    border: solid red 2px;
    width: 100%;
    height: 100px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    


}

.login{
   margin: auto;
}

.search{
   margin: auto;
}

.nav-bar{
    position: absolute;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    border: 2px solid;
    border-radius: 10px;
}

li{
    float: left;
}

li a{
    
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;

    display: inline-block;
    text-align: center;
    
}

li a:hover{
    background-color: #111;
    transition: all 0.3s;
    
}

main{
    border: solid green 2px;
    height: 500px;
    width: 100%;


}

.cards-principal{
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    justify-content: space-around;


}

.card{
    border: solid black 2px;

    width: 250px;
    height: 300px;

}
.card-info{
    background: #111;
    color: white;
    height: 59%;

}

footer{
    background: #333;
    color: white;
    width: 100%;
    height: 500px;
    
}