@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 157, 104);
}

nav{
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 100px;

    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    top: 0;
    left: 0;
}


.nav-ul{
    position: absolute;
    list-style-type: none;

    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nav-ul .nav-li{
    float: left;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;

    font-size: 18px;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    
}

.nav-li a{
    color: white;
    text-decoration: none;
}

.nav-li a:hover{
    color: rgb(255, 90, 1);
    transition: 1s;
}

.logo{
    position: absolute;
    display: block;
    left: 20px;
    width: auto; 
    height: auto;
}

.search{
    position: absolute;
    right: 20px;
}

input{
   position: relative;
   display: inline-block;
   font-size: 15px;
   box-sizing: border-box;
   transition: 0.5s;
   border: none;
}

input[type="text"]{
    background: none;
    background-color: rgb(208, 208, 208);
    padding: 5px;
    height: 40px;
    border-radius: 0 10px 10px 0;
    border: 1px solid black;
}

input[type="submit"]{
    background-color: #292929;
    color: white;
    height: 40px;
    width: 80px;
    font-weight: bold;
    border-radius: 10px 0 0 10px;
}

input[type="submit"]:hover{
    background-color: #717171;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

main{
    height: 1000px;
    width: 100%;
    padding-top: 110px;

}

.cards-principal{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.card{
    border: solid black 2px;
    width: 250px;
    height: 300px;
}

.card-info{
    background: #040404;
    color: white;
    height: 59%;

}


footer{
    background: #292929;
    color: white;
    height: 500px;
    
}

.ft-row{
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}

.ft-div h2{
    font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 40px;
	font-weight: 700;
	position: relative;
    
    margin-left: 0px;  
    margin-top: 20px;   
}

.ft-div h2::before{
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(255, 90, 1);
	height: 3px;
	box-sizing: border-box;
	width: 50px;
}


.ft-ul .ft-li{
    color: #7c7c7c;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;

    margin-top: 20px;
    flex-wrap: wrap;   
}

.ft-ul .ft-li:hover{
    color: rgb(201, 201, 201);
    transition: ease-in-out 0.4s;
    cursor: pointer;
}


.ft-social h2{
    font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 40px;
	font-weight: 700;
	position: relative;
    
    margin-left: 0px;  
    margin-top: 20px;   
}

.ft-social h2::before{
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(255, 90, 1);
	height: 3px;
	box-sizing: border-box;
	width: 50px;
}

.media{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;

    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}

.media:hover{
    background-color: rgb(181, 180, 180);
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.social-imgs{
    margin-left: 0px;

}

.smal-info{
    position: absolute;
    top: 1480px;
    font-size: 10px;
}
